@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Playfair+Display&family=Poppins:wght@400;500&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
/* html,
  body {
    height: 100%;
  } */
/*  Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

body {
  font-family: noto-sans-cjk-kr, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.25rem;
  color: #14395b;
}

.page-title {
  width: 100%;
  background-color: #f2f2f2;
  padding: 2.625rem 0;
  text-align: center;
}
.page-title h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.8125rem;
  color: #14395b;
  margin-bottom: 1.5rem;
}
.page-title .breadcrumbs li {
  display: inline-block;
}
.page-title .breadcrumbs li:not(:last-of-type) a::after {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #a1a5b7;
  margin: 0 1rem;
}
.page-title .breadcrumbs li a {
  cursor: pointer;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #14395b;
}
.page-title .breadcrumbs li a.active {
  color: #717171;
}

/* products section */
.container {
  margin: 8.5rem 8.75rem 6.5rem;
  display: flex;
  justify-content: space-between;
}
.container aside {
  width: 21.5%;
}

/* categories andd brands  */
.categories .categories-title,
.brands .brands-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.categories .categories-title h3,
.brands .brands-title h3 {
  font-size: 1.6875rem;
  font-weight: 700;
  text-transform: uppercase;
}
.categories .categories-title i,
.brands .brands-title i {
  font-size: 2rem;
  color: #4ad679;
  cursor: pointer;
  transition: all 0.5s ease;
}
.categories .categories-title i.fa-plus,
.brands .brands-title i.fa-plus {
  color: #707070;
}

#category-accordion,
#brand-accordion {
  transition: transform 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.accordion {
  position: relative;
  overflow: hidden;
}
.accordion .hide {
  position: relative;
  transform: translateY(-100%);
}
.accordion .hide .search-bar {
  width: 0%;
}

.search-bar {
  width: 100%;
  border-radius: 0.625rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 0;
  margin-bottom: 2.25rem;
  box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.12) inset;
  -webkit-box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.12) inset;
  -moz-box-shadow: 0px 3px 50px 0px rgba(0, 0, 0, 0.12) inset;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
.search-bar input {
  border: none;
  background-color: transparent;
  padding-left: 1.25rem;
  width: 15rem;
}
.search-bar input:focus {
  outline: none;
}
.search-bar i svg path {
  fill: #8d9598;
}
.search-bar.focus {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid #4ad679;
}
.search-bar.focus i svg path {
  fill: #14395b;
}

.category-list,
.brand-list {
  height: 22rem;
  margin-bottom: 5.25rem;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.category-list::-webkit-scrollbar,
.brand-list::-webkit-scrollbar {
  display: none;
}
.category-list p,
.brand-list p {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3125rem;
  padding-bottom: 2rem;
}
.category-list p span:last-child,
.brand-list p span:last-child {
  color: #22262a;
  opacity: 35%;
}
.category-list p.active span,
.brand-list p.active span {
  color: #4ad679;
  opacity: 1;
}

.summary {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.sorting {
  display: flex;
  align-items: center;
  position: relative;
}

.sorting-list {
  position: relative;
}
.sorting-list select {
  background-color: #f2f2f2;
  padding: 0.75rem 5rem 0.75rem 1rem;
  border-radius: 0.3125rem;
  border: 2px solid #f2f2f2;
  outline: none;
  color: #14395b;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}
.sorting-list select:focus {
  outline: none;
  border: 2px solid #4ad679;
}

.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  width: 3rem;
  height: 100%;
  pointer-events: none;
}
.custom-arrow i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #14395b;
}

select.decorated option:hover {
  box-shadow: 0 0 10px 100px #4ad679 inset;
}

.sorting > i {
  color: #14395b;
  font-size: 2rem;
  background-color: #f2f2f2;
  padding: 0.75rem;
  border-radius: 0.3125rem;
}
.sorting > i:first-of-type {
  margin: 0 1.25rem 0 2.625rem;
}
.sorting > i:last-of-type {
  padding: 0.75rem;
  transform: rotate(90deg);
}

.sorting i.onclick {
  background-color: #4ad679;
  color: #fff;
}

/* products list */
.container .products {
  width: 72%;
  height: 100%;
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.375rem 2.5rem;
  margin: 4rem 0;
  text-align: left;
}

.product-card .product-img {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  transition: 0.5s ease;
}
.product-card .product-img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 80%;
  height: 0.25rem;
  z-index: 10;
  background-color: #4ad679;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}
.product-card .product-img .config-btn {
  position: absolute;
  opacity: 0;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  font-size: 1.125rem;
  color: #14395b;
  padding: 1rem 2.5rem;
  border: #f2f2f2;
  background-color: #f2f2f2;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  transition: background-color 0.5s ease;
}
.product-card .product-img .config-btn:hover {
  color: #fff;
  background-color: #4ad679;
  border: #4ad679;
}
.product-card:hover .product-img::after {
  transform: scaleX(1);
}
.product-card:hover .config-btn {
  opacity: 1;
}
.product-card .product-title {
  font-weight: 700;
  margin-top: 1.25rem;
}
.product-card .product-details {
  font-size: 0.9375rem;
  line-height: 1.75rem;
  color: #4ad679;
}

/* load more button */
.load-btn {
  color: #14395b;
  padding: 1rem 4.75rem;
  background-color: #f2f2f2;
  border: none;
  outline: none;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
}
.load-btn:hover {
  color: #fff;
  background-color: #4ad679;
}/*# sourceMappingURL=productGallery.css.map */